/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-12.3.2-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: lszj_flightlist
-- ------------------------------------------------------
-- Server version	12.3.2-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Table structure for table `accounting_entries`
--

DROP TABLE IF EXISTS `accounting_entries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `accounting_entries` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `operation_id` bigint(20) unsigned NOT NULL,
  `entry_type` enum('glider_flight','tow_charge','towplane_own','maintenance','manual') NOT NULL,
  `callsign` varchar(32) DEFAULT NULL,
  `pilot_name` varchar(128) DEFAULT NULL,
  `attendant_name` varchar(128) DEFAULT NULL,
  `departure_time` datetime DEFAULT NULL,
  `departure_location` varchar(16) DEFAULT NULL,
  `arrival_time` datetime DEFAULT NULL,
  `arrival_location` varchar(16) DEFAULT NULL,
  `flight_minutes` int(11) DEFAULT NULL,
  `landing_count` int(11) NOT NULL DEFAULT 1,
  `start_type` tinyint(4) DEFAULT NULL,
  `charge_mode` tinyint(4) NOT NULL DEFAULT 2,
  `invoiced` tinyint(4) NOT NULL DEFAULT 0,
  `comment` text DEFAULT NULL,
  `tow_height_m` int(11) DEFAULT NULL,
  `tow_minutes` int(11) DEFAULT NULL,
  `tow_callsign` varchar(32) DEFAULT NULL,
  `tow_pilot_name` varchar(128) DEFAULT NULL,
  `tow_arrival_location` varchar(16) DEFAULT NULL,
  `vf_flight_type_id` int(11) DEFAULT NULL,
  `km` int(11) DEFAULT NULL,
  `plane_wkz` varchar(50) DEFAULT NULL,
  `plane_designation` varchar(128) DEFAULT NULL,
  `cost_center` varchar(64) DEFAULT NULL,
  `approval_role` enum('glider_pilot','tow_pilot','dispatcher') NOT NULL,
  `approval_status` enum('pending','correction_required','approved','exported') NOT NULL DEFAULT 'pending',
  `approved_by` varchar(128) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `correction_note` text DEFAULT NULL,
  `exported_at` datetime DEFAULT NULL,
  `export_batch` varchar(64) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  `vf_exported_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_entries_status` (`approval_status`,`exported_at`),
  KEY `idx_entries_date` (`departure_time`),
  KEY `idx_entries_operation` (`operation_id`),
  KEY `idx_accounting_approval_status` (`approval_status`),
  CONSTRAINT `accounting_entries_ibfk_1` FOREIGN KEY (`operation_id`) REFERENCES `operations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=228 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `accounting_entries`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `accounting_entries` WRITE;
/*!40000 ALTER TABLE `accounting_entries` DISABLE KEYS */;
/*!40000 ALTER TABLE `accounting_entries` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `aircraft_master`
--

DROP TABLE IF EXISTS `aircraft_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `aircraft_master` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `callsign` varchar(32) NOT NULL,
  `search_key` varchar(128) NOT NULL,
  `competition_code` varchar(32) DEFAULT NULL,
  `aircraft_type` varchar(100) DEFAULT NULL,
  `model_designation` varchar(255) DEFAULT NULL,
  `owner_name` varchar(255) DEFAULT NULL,
  `is_club_aircraft` tinyint(1) NOT NULL DEFAULT 0,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `source_hash` char(64) NOT NULL,
  `imported_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_aircraft_master_callsign` (`callsign`),
  KEY `idx_aircraft_master_club_callsign` (`is_active`,`is_club_aircraft`,`callsign`),
  KEY `idx_aircraft_master_search_key` (`search_key`)
) ENGINE=InnoDB AUTO_INCREMENT=210 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aircraft_master`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `aircraft_master` WRITE;
/*!40000 ALTER TABLE `aircraft_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `aircraft_master` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `charge_modes`
--

DROP TABLE IF EXISTS `charge_modes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `charge_modes` (
  `id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `charge_modes`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `charge_modes` WRITE;
/*!40000 ALTER TABLE `charge_modes` DISABLE KEYS */;
INSERT INTO `charge_modes` VALUES
(1,'Keine'),
(2,'Pilot'),
(3,'Begleiter'),
(4,'Gastflug'),
(5,'Pilot + Begleiter'),
(6,'Gastflug (Pilot zahlt)'),
(7,'Anderes Mitglied');
/*!40000 ALTER TABLE `charge_modes` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `entry_changes`
--

DROP TABLE IF EXISTS `entry_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `entry_changes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `entry_id` bigint(20) unsigned NOT NULL,
  `changed_by` varchar(128) NOT NULL,
  `changed_at` datetime NOT NULL,
  `field_name` varchar(64) NOT NULL,
  `old_value` text DEFAULT NULL,
  `new_value` text DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_changes_entry` (`entry_id`),
  CONSTRAINT `entry_changes_ibfk_1` FOREIGN KEY (`entry_id`) REFERENCES `accounting_entries` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entry_changes`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `entry_changes` WRITE;
/*!40000 ALTER TABLE `entry_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `entry_changes` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `external_contacts`
--

DROP TABLE IF EXISTS `external_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `external_contacts` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `last_name` varchar(100) DEFAULT NULL,
  `first_name` varchar(100) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) NOT NULL,
  `company_name` varchar(255) DEFAULT NULL,
  `street` varchar(255) DEFAULT NULL,
  `postal_code` varchar(20) DEFAULT NULL,
  `city` varchar(100) DEFAULT NULL,
  `country` varchar(100) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `vf_exported_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_external_email` (`email`),
  KEY `idx_name` (`name`),
  KEY `idx_phone` (`phone`),
  KEY `idx_active` (`is_active`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `external_contacts`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `external_contacts` WRITE;
/*!40000 ALTER TABLE `external_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `external_contacts` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `flight_types`
--

DROP TABLE IF EXISTS `flight_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `flight_types` (
  `id` int(11) NOT NULL,
  `code` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `is_tow_flight` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flight_types`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `flight_types` WRITE;
/*!40000 ALTER TABLE `flight_types` DISABLE KEYS */;
INSERT INTO `flight_types` VALUES
(2,'C','Checkflug',0),
(3,'F','F-Schlepp',1),
(4,'PAX','Passagierflug',0),
(6,'V','Werkverkehr',0),
(8,'S','Schulflug',0),
(10,'P','Privatflug',0),
(14,'E','External',0),
(17,'BFK','BFK',0),
(18,'PX_S','Passagierflug mit Sch??ler',0),
(19,'PAU','Pauschale Motorflug',0),
(21,'GVVC','GVVC',0),
(22,'UEB','??berflug',1);
/*!40000 ALTER TABLE `flight_types` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `i18n_translations`
--

DROP TABLE IF EXISTS `i18n_translations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `i18n_translations` (
  `translation_key` varchar(191) NOT NULL,
  `lang` char(2) NOT NULL,
  `translation_text` text NOT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`translation_key`,`lang`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `i18n_translations`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `i18n_translations` WRITE;
/*!40000 ALTER TABLE `i18n_translations` DISABLE KEYS */;
/*!40000 ALTER TABLE `i18n_translations` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `ktrax_import_log`
--

DROP TABLE IF EXISTS `ktrax_import_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ktrax_import_log` (
  `import_date` date NOT NULL,
  `airfield` varchar(16) NOT NULL DEFAULT 'LSZJ',
  `status` varchar(32) NOT NULL,
  `imported_at` datetime NOT NULL DEFAULT current_timestamp(),
  `raw_imported` int(11) DEFAULT NULL,
  `operations_created` int(11) DEFAULT NULL,
  `operations_skipped_existing` int(11) DEFAULT NULL,
  `tow_segments_created` int(11) DEFAULT NULL,
  `towplane_own_entries_created` int(11) DEFAULT NULL,
  `message` text DEFAULT NULL,
  PRIMARY KEY (`import_date`,`airfield`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ktrax_import_log`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `ktrax_import_log` WRITE;
/*!40000 ALTER TABLE `ktrax_import_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `ktrax_import_log` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `master_data_import_runs`
--

DROP TABLE IF EXISTS `master_data_import_runs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_data_import_runs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `import_type` enum('members','aircraft') NOT NULL,
  `source_filename` varchar(255) NOT NULL,
  `source_sha256` char(64) NOT NULL,
  `rows_read` int(10) unsigned NOT NULL DEFAULT 0,
  `rows_imported` int(10) unsigned NOT NULL DEFAULT 0,
  `rows_skipped` int(10) unsigned NOT NULL DEFAULT 0,
  `warnings_json` longtext DEFAULT NULL,
  `imported_at` datetime NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_master_data_import_runs_type_date` (`import_type`,`imported_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_data_import_runs`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `master_data_import_runs` WRITE;
/*!40000 ALTER TABLE `master_data_import_runs` DISABLE KEYS */;
INSERT INTO `master_data_import_runs` VALUES
(1,'members','Mitglieder.csv','77d67f960c7386848a06e8283103e9de1aced5cb36b2ee86aea2793e6ee730bb',358,358,0,NULL,'2026-08-22 11:51:39'),
(2,'aircraft','Luftfahrzeuge.csv','28c8fff13ff10bd0d9d25e89f2fd295bc817af734fb683bde87675a3b8506783',211,209,0,NULL,'2026-08-22 11:51:39');
/*!40000 ALTER TABLE `master_data_import_runs` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `operation_raw_links`
--

DROP TABLE IF EXISTS `operation_raw_links`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `operation_raw_links` (
  `operation_id` bigint(20) unsigned NOT NULL,
  `raw_flight_id` bigint(20) unsigned NOT NULL,
  `role` enum('glider','towplane','other') NOT NULL,
  PRIMARY KEY (`operation_id`,`raw_flight_id`,`role`),
  KEY `raw_flight_id` (`raw_flight_id`),
  CONSTRAINT `operation_raw_links_ibfk_1` FOREIGN KEY (`operation_id`) REFERENCES `operations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `operation_raw_links_ibfk_2` FOREIGN KEY (`raw_flight_id`) REFERENCES `raw_flights` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operation_raw_links`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `operation_raw_links` WRITE;
/*!40000 ALTER TABLE `operation_raw_links` DISABLE KEYS */;
/*!40000 ALTER TABLE `operation_raw_links` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `operations`
--

DROP TABLE IF EXISTS `operations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `operations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `operation_date` date NOT NULL,
  `kind` enum('glider_tow','self_launch','towplane_only','manual') NOT NULL,
  `glider_callsign` varchar(32) DEFAULT NULL,
  `glider_pilot_name` varchar(128) DEFAULT NULL,
  `instructor_name` varchar(128) DEFAULT NULL,
  `tow_callsign` varchar(32) DEFAULT NULL,
  `takeoff_time` time DEFAULT NULL,
  `takeoff_airfield` varchar(16) DEFAULT NULL,
  `glider_landing_time` time DEFAULT NULL,
  `glider_landing_airfield` varchar(16) DEFAULT NULL,
  `tow_landing_time` time DEFAULT NULL,
  `tow_landing_airfield` varchar(16) DEFAULT NULL,
  `tow_height_m` int(11) DEFAULT NULL,
  `created_from` enum('ktrax','manual') NOT NULL DEFAULT 'ktrax',
  `status` enum('imported','in_review','ready_for_export','exported') NOT NULL DEFAULT 'imported',
  `approval_status` enum('pending','correction_required','approved','exported') NOT NULL DEFAULT 'pending',
  `approved_by` varchar(128) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `correction_note` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_operations_date` (`operation_date`),
  KEY `idx_operations_status` (`status`),
  KEY `idx_operations_approval_status` (`approval_status`)
) ENGINE=InnoDB AUTO_INCREMENT=155 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operations`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `operations` WRITE;
/*!40000 ALTER TABLE `operations` DISABLE KEYS */;
/*!40000 ALTER TABLE `operations` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `pilots_master`
--

DROP TABLE IF EXISTS `pilots_master`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pilots_master` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `vf_user_no` varchar(32) NOT NULL,
  `vf_member_no` varchar(32) DEFAULT NULL,
  `display_name` varchar(255) NOT NULL,
  `search_name` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `mobile` varchar(64) DEFAULT NULL,
  `membership_status` varchar(100) DEFAULT NULL,
  `cost_level` varchar(100) DEFAULT NULL,
  `priority_group` enum('flying_member','student','gvvc','other') NOT NULL DEFAULT 'other',
  `is_primary` tinyint(1) NOT NULL DEFAULT 0,
  `is_selectable` tinyint(1) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `source_hash` char(64) NOT NULL,
  `imported_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pilots_master_vf_user_no` (`vf_user_no`),
  UNIQUE KEY `uq_pilots_master_member_no` (`vf_member_no`),
  KEY `idx_pilots_master_primary_name` (`is_active`,`is_primary`,`display_name`),
  KEY `idx_pilots_master_search_name` (`search_name`),
  KEY `idx_pilots_master_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=359 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pilots_master`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `pilots_master` WRITE;
/*!40000 ALTER TABLE `pilots_master` DISABLE KEYS */;
/*!40000 ALTER TABLE `pilots_master` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `raw_flights`
--

DROP TABLE IF EXISTS `raw_flights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `raw_flights` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `source` varchar(50) NOT NULL DEFAULT 'ktrax',
  `source_uid` varchar(128) DEFAULT NULL,
  `flight_date` date NOT NULL,
  `aircraft_callsign` varchar(32) NOT NULL,
  `aircraft_type` int(11) DEFAULT NULL,
  `takeoff_time` time DEFAULT NULL,
  `takeoff_airfield` varchar(16) DEFAULT NULL,
  `landing_time` time DEFAULT NULL,
  `landing_airfield` varchar(16) DEFAULT NULL,
  `duration_text` varchar(16) DEFAULT NULL,
  `tow_id` varchar(128) DEFAULT NULL,
  `tow_callsign` varchar(32) DEFAULT NULL,
  `tow_height_m` int(11) DEFAULT NULL,
  `raw_json` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`raw_json`)),
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_raw_source` (`source`,`source_uid`),
  KEY `idx_raw_date_aircraft` (`flight_date`,`aircraft_callsign`)
) ENGINE=InnoDB AUTO_INCREMENT=304 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `raw_flights`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `raw_flights` WRITE;
/*!40000 ALTER TABLE `raw_flights` DISABLE KEYS */;
/*!40000 ALTER TABLE `raw_flights` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;

--
-- Table structure for table `tow_segments`
--

DROP TABLE IF EXISTS `tow_segments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tow_segments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `operation_id` bigint(20) unsigned NOT NULL,
  `glider_raw_flight_id` bigint(20) unsigned DEFAULT NULL,
  `tow_raw_flight_id` bigint(20) unsigned DEFAULT NULL,
  `glider_callsign` varchar(32) NOT NULL,
  `tow_callsign` varchar(32) NOT NULL,
  `tow_pilot_name` varchar(128) DEFAULT NULL,
  `segment_start` datetime DEFAULT NULL,
  `segment_end` datetime DEFAULT NULL,
  `tow_minutes` int(11) DEFAULT NULL,
  `tow_height_m` int(11) DEFAULT NULL,
  `cost_center` varchar(64) DEFAULT NULL,
  `approval_status` enum('pending','correction_required','approved','exported') NOT NULL DEFAULT 'pending',
  `approved_by` varchar(128) DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `correction_note` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT NULL ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_tow_segment_operation` (`operation_id`),
  KEY `idx_tow_segments_date` (`segment_start`),
  KEY `idx_tow_segments_towplane` (`tow_callsign`),
  KEY `idx_tow_segments_status` (`approval_status`),
  KEY `fk_tow_segments_glider_raw` (`glider_raw_flight_id`),
  KEY `fk_tow_segments_tow_raw` (`tow_raw_flight_id`),
  CONSTRAINT `fk_tow_segments_glider_raw` FOREIGN KEY (`glider_raw_flight_id`) REFERENCES `raw_flights` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tow_segments_operation` FOREIGN KEY (`operation_id`) REFERENCES `operations` (`id`) ON DELETE CASCADE,
  CONSTRAINT `fk_tow_segments_tow_raw` FOREIGN KEY (`tow_raw_flight_id`) REFERENCES `raw_flights` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=71 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tow_segments`
--

SET @OLD_AUTOCOMMIT=@@AUTOCOMMIT, @@AUTOCOMMIT=0;
LOCK TABLES `tow_segments` WRITE;
/*!40000 ALTER TABLE `tow_segments` DISABLE KEYS */;
/*!40000 ALTER TABLE `tow_segments` ENABLE KEYS */;
UNLOCK TABLES;
COMMIT;
SET AUTOCOMMIT=@OLD_AUTOCOMMIT;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-08-25 17:07:50
